@using DSS.Common
@{
    ViewBag.Title = DefaultNames.Contact;
}

<h2>@DefaultNames.Contact</h2>

<div class="flex-cntct">
    <div class="flex-cntct-tm">
        <img src="@DefaultPaths.BlobsImagesPath@DefaultPaths.Contact1ImageName" />
        <p class="worker">Менеджер по закупкам</p>
        <p class="mail">custom@mail.ru</p>
    </div>

    <div class="flex-cntct-tm">
        <img src="@DefaultPaths.BlobsImagesPath@DefaultPaths.Contact2ImageName" />
        <p class="worker">Руководитель отдела импортозамещения</p>
        <p class="mail">import_substitution@mail.ru</p>
    </div>

    <div class="flex-cntct-tm">
        <img src="@DefaultPaths.BlobsImagesPath@DefaultPaths.Contact3ImageName" />
        <p class="worker">Менеждер по развитию</p>
        <p class="email">development@mail.ru</p>
    </div>
</div>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae2476b1cc30fce7b3b67f1d1ca90c0c1db937459725739d79c9433b3a5c46889&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

<hr />
<div class="address">
    <div>
        <h3>Адрес</h3>
        <p>142500, Россия</p>
        <p>Павлсокий Посад</p>
        <p>ул. Каляева, 2</p>
        <p><strong>Тел.: </strong>+7 (800) 555-35-35</p>
        <p><strong>Часы работы: </strong>10:00 - 19:00</p>
    </div>
</div>


