@using DSS.Common
@{
    ViewBag.Title = DefaultNames.Index;
}

<style>
    .flex-ndx {
        display: flex;
        padding: 5px;
        justify-content: center;
        flex-direction: column;
    }

    .flex-ndx-tm {
        font-size: 18px;
        margin: 5px;
        padding: 15px;
        width: auto;
        height: auto;
    }

        .flex-ndx-tm img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .flex-ndx-tm p {
            text-indent: 25px;
        }

    h2 {
        margin-top: 35px;
    }
</style>

<h2>СППР при организации импортозамещения ЭКБ</h2>

<div class="flex-ndx">

    <div class="flex-ndx-tm">
        <p>
            Наша страна зависит от импорта и проблема замены иностранных товаров на отечественные существовала и прежде. Однако, санкции 2014 года, введенные западными странами, заставили правительство взглянуть на проблему серьезнее.
        </p>
        <p>
            Так, уже в конце 2014 года была утверждена масштабная программа, охватывающая значительное количество отраслей. Одной из главных задач госпрограммы, рассчитанной до 2020 года, заявлено снижение доли импорта продукции, в том числе используемой отечественными производителями, в нашу страну.
        </p>
    </div>

    <div class="flex-ndx-tm">
        <img src="@DefaultPaths.BlobsImagesPath@DefaultPaths.HomeImageName"/>
    </div>
</div>