@using DSS.Common
@{
    ViewBag.Title = DefaultNames.Index;
}

<h2>СППР при организации импортозамещения ЭКБ</h2>

<div class="flex-ndx">

    <div class="flex-ndx-tm">
        <p>
            Наша страна зависит от импорта и проблема замены иностранных товаров на отечественные существовала и прежде. Однако, санкции 2014 года, введенные западными странами, заставили правительство взглянуть на проблему серьезнее.
        </p>
        <p>
            Так, уже в конце 2014 года была утверждена масштабная программа, охватывающая значительное количество отраслей. Одной из главных задач госпрограммы, рассчитанной до 2020 года, заявлено снижение доли импорта продукции, в том числе используемой отечественными производителями, в нашу страну.
        </p>
    </div>

    <div class="flex-ndx-tm">
        <img src="@DefaultPaths.BlobsImagesPath@DefaultPaths.HomeImageName" />
    </div>
</div>



